body {
    background: #e2e2e2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button {
    background: #4de09e;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
}

.button:hover {
    cursor: pointer;
    opacity: .9;
}

.loading-wrapper {
    width: 100%;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-box {
    width: 40;
    max-width: 60px;
    margin: 20px;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.loading-dot {
    width: 20px;
    height: 20px;
    background: #4de09e;
    border-radius: 50%;
}

.rotate {
    animation: rotate 1s ease-in-out infinite alternate;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

/* KEYFRAMES */

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(.7);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 100
    }
}